<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pangestutitan.pangestu_1202154211_modul2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity android:name=".DineIn" />
        <activity android:name=".TakeAway" />
        <activity android:name=".DaftarMenu" />
        <activity android:name=".DetailMenuActivity" />
        <activity android:name=".Menu" />
        <activity android:name=".viewListMenu" />
        <activity android:name=".Food1" />
        <activity android:name=".Food2" />
        <activity android:name=".food3"></activity>
    </application>

</manifest>